<head>
    <title>Inbox / Paintbrush</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
html, body { background-color: rgb(228, 238, 253) !important;}
.btn {
    background-color: #9286fc ;
    color: white;
}

</style>

<div class="container">
    <div class ="card col-12 p-5 mt-6">
    <div class ="row justify-content-center">
        
        <div class ="col-md-12 p-5">
            <h3> Send a message </h3>
        </div>
    </div>
    <div class ="row justify-content-center">
        <div class ="col p-5">
            <form method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                    <p>Enter the user you want to send message to:</p>
                    <input type="text" name="username" class="form-control" required id="id_username" maxlength="100" placeholder="Enter name" style="width:27vw;">
                </div>
                <button class="btn mb-2" type="submit">Continue</button>
            </form>
        </div>
    </div>
</div>
</div>


{% endblock content %}