<head>
    <title>Inbox / Paintbrush</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
html, body { background-color: rgb(228, 238, 253) !important;}
.btn {
    background-color: #9286fc ;
    color: white;
}

</style>

<div class="container">
    <div class ="row">
        <div class ="col-12 p-5">
            <h3 style="margin-left:-40px;"> Messages </h3>
            <form method="GET" action="{% url 'create-thread' %}">
                <button class="btn mb-2" type="submit" style="margin-left:-40px;">Send a message</button>
            </form>
        </div>
    </div>
    {% for thread in threads.all %}
    <div class ="row mb-3">
        <div class ="card col-md-12 p-5 shadow-sm">
            <h5 style="color:#9286fc;"> Sender: {{thread.user}} </h5> 
            <h5> Receiver: {{thread.receiver}} </h5>
            <a class="stretched-link" href="{% url 'thread' thread.pk %}"></a>
        </div>
    </div>
    
    {% endfor %}
    
    {% if not threads %}
    <div class="row">
        <div class="card p-5" style="margin-top: 30px;">
            <p>No conversations yet, message someone!</p>
        </div>
    </div>
    {% endif %}



</div>


{% endblock content %}