<head>
  <title>My Account / Paintbrush</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
html,body {
        background: rgb(228, 238, 253) !important;}
.btn {
            background-color: #9286fc ;
            color: white;}
</style>

    <section>
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-3">
            <div class="card mb-4">
              <div class="card-body text-center" style="border: 1px solid gainsboro;">
                <img
                  src="{{profile.profile_image.url}}"
                  alt="avatar"
                  class="rounded-circle img-fluid"
                  style="width: 150px"
                />
                <h5 class="my-3">{{ profile.name }}</h5>
                
                <p class="text-muted mb-1">@{{profile.username}}</p>
                <p class="text-muted mb-4">{{profile.bio}}</p>
                
                <hr>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef;">
                  <a href="{% url 'followers' %}"><div class="col border-right">
                    <p class="text-muted mb-1 ">Followers</p>
                    <p class="mb-0">{{profile.followed_by.count}}</p>
                  </div></a>
                  <a href="{% url 'following' %}"><div class="col">
                    <p class="text-muted mb-1">Following</p>
                    <p class="mb-0">{{profile.follows.count}}</p>
                  </div></a>
                </div>
                  <hr>
                
                
                  
                    <a href="{% url 'edit-account' %}" type="button" class="btn mb-2 btn-block">Edit Profile</a>
                    <a href="{% url 'change-password' %}" type="button" class="btn mb-2 btn-block">Change Password</a>
                
                
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                    
                  
                  
                  {% for post in posts_without_images %}
                    <a href="{% url 'postdetails' post.id %}"><div class="card" style="width: 20rem; margin-bottom: 5px;">
                        <div class="card-body">
                          <p class="card-text">{{post.caption}}</p>
                          <hr>
                          <h6 class="card-subtitle mb-2 text-muted">{{post.posted}}</h6>
                        </div>
                      </div></a>
                      {% endfor %}
                     

                </div>
              </div>
          </div>
          <div class="col-lg-9">
            <div class="card mb-4">
              <div class="card-body" style="border: 1px solid gainsboro;">

                <div class="container" style="margin-top: 20px; margin-bottom: 20px; font-family: cursive; ">
                  <div class="col-md-12">
                      <div class="row" id="posts-container">
                        
                        {% if posts_with_images %}
                         {% for post in posts_with_images %}
                          
                                  <a href="{% url 'postdetails' post.id %}" class="post-with-image"> 
                                      <div class="card" style="width: 18rem; margin: 5px;">
                                          <div class="card-img-top" style="background: url('{{post.image.url}}') center / cover no-repeat; height: 200px;"></div>
                                      </div>
                                  </a>
                                  {% endfor %}
                                  {% else %}
                                  <div class=" col text-center" >  No artwork yet... </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>

  
{% endblock %}