<head>
    <title>Success! / Paintbrush</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
html, body {  background-color: rgb(228, 238, 253) !important;}
    .btn {
        background-color: #9286fc ;
        color: white;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="card p-5" style="margin-top: 100px; margin-bottom: 100px;">
            <p class= "text-center">Password succesfully changed.</p>
            <a href="{% url 'account' %}" class="btn mb-2">Go back to your account</a>
        </div>
    </div>
</div>

{% endblock content %}