<head>
    <title>Edit Profile / Paintbrush</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
html, body { background-image: url('/media/pattern4.png');}
    .btn {
        background-color: #9286fc ;
        color: white;
    }
    .fa-arrow-left{
        color: #9286fc
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="card p-5" style="margin-top: 50px; margin-bottom: 100px;">
            <a class= "fas fa-arrow-left" href="{% url 'account' %}" style="margin-top:-20px; margin-left:-20px;"></a>
            <form id = "editaccount" action="{% url 'edit-account' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class='text-center'>Edit Profile</h3>
                {% for field in form %}
                <div class="form-group">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn mb-2 btn-block" value="Submit">Save</button>

                <p class="text-center"><a href="{% url 'change-password' %}">Change password here</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock content %}