{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}"/>

    <section>
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-3">
            <div class="card mb-4">
              <div class="card-body text-center" style="border: 1px solid gainsboro;">
                <img
                  src="{{profiles.profile_image.url}}"
                  alt="avatar"
                  class="rounded-circle img-fluid"
                  style="width: 150px"
                />
                <h5 class="my-3">{{ profiles.name }}</h5>
                
                <p class="text-muted mb-1">@{{profiles.username}}</p>
                <p class="text-muted mb-4">{{profiles.bio}}</p>

                <hr>
                
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef;">
                  <div class="col border-right">
                    <p class="text-muted mb-1 ">Followers</p>
                    <p class="mb-0">{{profiles.followed_by.count}}</p>
                  </div>
                  <div class="col">
                    <p class="text-muted mb-1">Following</p>
                    <p class="mb-0">{{profiles.follows.count}}</p>
                  </div>
                </div>
                  <hr>
                  {% if request.user.is_authenticated %}
                <div class="d-flex justify-content-center mb-2">
                  <form method="POST">
                    {% csrf_token %}
                    {% if profiles in user.profile.follows.all %}
                    <button type="submit" class="btn btn-danger" style="margin-right: 5px;" value="unfollow" name="action">Unfollow</button>
                  {% else %}
                  <button type="submit" class="btn btn-primary" style="margin-right: 5px;" value="follow" name="action">Follow</button>
                  {% endif %}
                </form>
                <a href="{% url 'create-thread' %}" class="btn btn-primary" style="margin-right: 5px;" value="message">Message</a>
                </div>
                {% endif %}
                
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                    
                  
                  
                  {% for post in posts_without_images %}
                    <a href="{% url 'postdetails' post.id %}"><div class="card" style="width: 20rem; margin-bottom: 5px;">
                        <div class="card-body">
                          <p class="card-text">{{post.caption}}</p>
                          <hr>
                          <h6 class="card-subtitle mb-2 text-muted">{{post.posted}}</h6>
                        </div>
                      </div></a>
                      {% endfor %}
                     

                </div>
              </div>
          </div>
          <div class="col-lg-9">
            <div class="card mb-4">
              <div class="card-body" style="border: 1px solid gainsboro;">

                <div class="container" style="margin-top: 20px; margin-bottom: 20px; font-family: cursive; ">
                  <div class="col-md-12">
                      <div class="row" id="posts-container">
                        
                        {% if posts_with_images %}
                         {% for post in posts_with_images %}
                          
                                  <a href="{% url 'postdetails' post.id %}" class="post-with-image"> 
                                      <div class="card" style="width: 18rem; margin: 5px;">
                                          <div class="card-img-top" style="background: url('{{post.image.url}}') center / cover no-repeat; height: 200px;"></div>
                                      </div>
                                  </a>
                                  {% endfor %}
                                  {% else %}
                                  <div class=" col text-center" >  No artwork yet... </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>

  
{% endblock %}







